venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Database files
*.db
*.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

#LLM
phi-2.Q8_0.gguf

llama.cpp
